<<<<<<< HEAD
body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: "Space Mono", monospace;
}
=======
body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: "Space Mono", monospace;
}
>>>>>>> 521a4f0a5b9c6a3a42e94300a7ba10ac2f598f2a
